{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% bootstrap_css %}{% bootstrap_javascript %}
  {% block extra_css %}{% endblock %}
  <title>{% block title %}title{% endblock %}</title>
  <link rel="icon" href="{% static 'qmeshi_app/images/qmeshi.ico' %}">
  <link rel="stylesheet" href="{% static 'qmeshi_app/css/sticky-footer.css' %}">
  <link rel="stylesheet" href="{% static 'qmeshi_app/css/general.css' %}">
  <link rel="stylesheet" href="{% static 'qmeshi_app/css/style.css' %}">
</head>
<body>
  <div class="container">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
  {% block extra_js %}{% endblock %}
</body>
<footer class="footer">
	<div class="container text-center">
	  <p class="text-muted">©︎2021 okinotori.net</p>
	</div>
</footer>
</html>