{% extends "qmeshi_app/base.html" %}

{% block title %}メニュー一覧{% endblock title %}

{% block content %}
    <h4 class="mt-4 border-bottom">メニュー一覧</h4>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% for tag in tags %}
          {% if tag.id == 1 %}
          <a class="nav-link active" id="nav-{{ tag.short_name }}-tab" data-bs-toggle="tab" href="#nav-{{ tag.short_name }}" role="tab" aria-controls="nav-{{ tag.short_name }}" aria-selected="true">{{ tag.name }}</a>
          {% else %}
          <a class="nav-link" id="nav-{{ tag.short_name }}-tab" data-bs-toggle="tab" href="#nav-{{ tag.short_name }}" role="tab" aria-controls="nav-{{ tag.short_name }}" aria-selected="false">{{ tag.name }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      {% for tag in tags %}
        {% if tag.id == 1 %}
        <div class="tab-pane fade show active" id="nav-{{ tag.short_name }}" role="tabpanel" aria-labelledby="nav-{{ tag.short_name }}-tab">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">メニュー</th>
                <th scope="col">レビュー</th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
                {% if item.tag == tag %}
                <tr>
                  <td>{{ item.name }}</td>
                  <td>
                    <a href="{% url 'qmeshi_app:impression_list' item_id=item.id %}" class="btn btn-outline-info btn-sm">レビュー</a>
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <div class="tab-pane fade" id="nav-{{ tag.short_name }}" role="tabpanel" aria-labelledby="nav-{{ tag.short_name }}-tab">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">メニュー</th>
                <th scope="col">レビュー</th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
                {% if item.tag == tag %}
                <tr>
                  <td>{{ item.name }}</td>
                  <td>
                    <a href="{% url 'qmeshi_app:impression_list' item_id=item.id %}" class="btn btn-outline-info btn-sm">レビュー</a>
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <a href="{% url 'qmeshi_app:menu_list' %}" class="btn btn-secondary btn-sm">今日のメニューへ</a>
{% endblock content %}