{% extends "qmeshi_app/base.html" %}
{% load static %}

{% block title %}九大のメシ{% endblock title %}

{% block content %}
<h1 class="mt-4 border-bottom text-center">
  <a class="btn btn-light" href="{% url 'qmeshi_app:menu_list' date=date_prev %}"><</a>
  {{ date_str }}
  <a class="btn btn-light" href="{% url 'qmeshi_app:menu_list' date=date_next %}">></a>
</h1>
{% for cafeteria_with_menues in cafeterias_with_menues %}
  <h2 id="{{ cafeteria_with_menues.cafeteria.short_name }}" class="mt-4 border-bottom text-center">{{ cafeteria_with_menues.cafeteria.name }}</h2>
  <section class="module-small">
    <div class="container">
      <div class="row multi-columns-row">
        <div class="col-sm-6">
          {% for menu in cafeteria_with_menues.menues_left %}
          <div class="menu">
            <div class="row">
              <div class="col-sm-8">
                <h3 class="menu-title font-alt">{{ menu.item.name }}</h3>
                <div class="menu-detail font-serif">{{ menu.period }}{{ menu.item.tag.name }}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="col-sm-6">
          {% for menu in cafeteria_with_menues.menues_right %}
          <div class="menu">
            <div class="row">
              <div class="col-sm-8">
                <h3 class="menu-title font-alt">{{ menu.item.name }}</h3>
                <div class="menu-detail font-serif">{{ menu.period }}{{ menu.item.tag.name }}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endfor %}

{% endblock content %}